*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow-y: scroll;
}


@media screen  and (min-width: 992px) {
    .mobile{
        display:none;
    }

    .content .desktop__logo{
        width: 176px;
        height: 44px;
        margin-right: 40px;
        margin-top: 30px;
        float: left;
    }

    .desktop{
        display: flex;
        z-index: 300;
        background: #171d25;
        min-width: 940px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        font-size:14px;
    }
    
    .content{
        display: flex;
        position: relative;
        width: 940px;
        height: 104px;
        margin: 0px auto;
    }

    .desktop__links{
        position:absolute;
        left: 200px;
        padding: 0;
        margin: 0;
    }

    .desktop__links a:first-child{
        color:#1a9fff;
        text-decoration: underline 3px;
    }

    .desktop__links a{
        display: block;
        position: relative;
        padding-top: 45px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 7px;
        line-height: 16px;
        float: left;
        font-size: 14px;
        color: #dcdedf;
        text-transform: uppercase;
        font-size: 16px;
        font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;

    }

    .desktop__links a:hover{
        color:#ffffff ;
    }

    .desktop__links .desktop__links--substores{
        position: absolute;
        z-index: -111;
        opacity: 0;
        left: 1px;
        top: 67px;
        background: #3D4450;
        box-shadow: 3px 3px 5px -3px #000;
        text-align: left;
        transition: 0.2s ease-in-out;
    }


    .desktop__links .desktop__links--substores a{
        text-decoration: none;
        text-transform: none;
        font-size: 12px;
        text-align: left;
        color: #dcdedf;
        padding: 6px 15px;
        display: block;
        float: none;
    }

    .desktop__links .desktop__links--substores a:hover{
        background: #dcdedf;
        color: #3D4450;
    }

    .desktop__links .desktop__links--subcom{
        position: absolute;
        z-index: 0;
        opacity: 0;
        left: 66.2333px;
        top: 67px;
        background: #3D4450;
        box-shadow: 3px 3px 5px -3px #000;
        transition: 0.2s ease-in-out;
    }

    .desktop__links .desktop__links--subcom a{
        text-decoration: none;
        text-transform: none;
        font-size: 12px;
        text-align: left;
        color: #dcdedf;
        padding: 6px 15px;
        display: block;
        float: none;
    }
    .desktop__links .desktop__links--subcom a:hover{
        background: #dcdedf;
        color: #3D4450;
    }

    .desktop__options{
        font-size: 11px;
        display: flex;
        position: absolute;
        right:0;
        top: 6px;
        height: 24px;
        z-index: 400;
        line-height: 24px;
        vertical-align: top;
    }

    .desktop__options a:first-child{
        background: #5c7e10;
        color:#e5e4dc;
        text-decoration: none;
        padding: 0 9px 0 35px;
        margin-right: 3px;
        background-position: 10px 5px;
        background-image: url( 'https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1' );
        background-repeat: no-repeat;
    }

    .desktop__options a{
        color: #b8b6b4;
        text-decoration: none;
        padding: 0 4px;
    }

    .desktop__options a:hover{
        color:#e5e4dc;
    }

    .desktop__options div:last-child{
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 18px;
        background-image: url( 'https://store.cloudflare.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png' );
        background-position: right center;
        background-repeat: no-repeat;
        cursor: pointer;
        color: #b8b6b4;
        text-decoration: none;
    }

    .desktop__options .desktop__options--submenu{
        position:absolute;
        visibility: visible;
        top: 19px;
        left: -71.3333px;
        display: block;
        opacity: 0;
        background: #3D4450;
        box-shadow: 3px 3px 5px -3px #000;
        text-align: left;
        transition: 0.2s ease-in-out;
        background-image:none;
        padding:0;
        width: 305.8px;
        z-index:-1000;
        pointer-events: none;
    }

    .desktop__options .desktop__options--submenu a{
        background-image: none;
        background: #3D4450;
        text-decoration: none;
        text-transform: none;
        font-size: 12px;
        text-align: left;
        color: #dcdedf;
        padding: 6px 15px;
        display: block;
        float: none;
        margin:0;
    }

    .desktop__options .desktop__options--submenu a:hover{
        background: #dcdedf;
        color: #3D4450;
    }

    .desktop__options div:last-child:hover{
        color:#e5e4dc;
    }

    .desktop__options div{
        color: #b8b6b4;
        padding: 0 7px;
    }

    section{
        background-image: url('https://cdn.akamai.steamstatic.com/steam/apps/2682370/page_bg_generated_v6b.jpg?t=1707232368');
        background-position: center top;
        background-repeat: no-repeat;
        min-width: 972px;
        font-family: Arial, Helvetica, sans-serif;
        color: #c6d4df;
        font-size: 12px;
        position: relative;
        padding:0.2px;
        background-color: rgba(27,40,56,1);
    }

    .storenav{
        position: relative;
        height: 35px;
        display: flex;
        background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
        box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4); 
        width: 940px;
        margin: 0 auto;
        z-index: 300;
        margin-top:31px;
        margin-bottom: 16px;
    }

    .storenav .storenav__sub{
        padding: 1px 15px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        color: #c6d4df;
        border-right:none;
        white-space:nowrap;
        height: inherit;
        font-weight: bolder;
        font-size: 13px;
        line-height: 34px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    }

    .storenav .storenav__sub:hover{
        background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
    }

    .storenav .flex__spacer{
        width: 20px;
        flex: 1;
        cursor: default;
    }

    .storenav .flex__spacer:hover{
        background: none;
    }

    .storenav .searchbox{
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 210px;
        padding: 3px 4px 2px;
        float: none;
        height: 30px;
    }

    .storenav .storenav__usb{
        background-image: none;
        background-color: #316282;
        border-radius: 3px;
        border: 1px solid rgba( 0, 0, 0, 0.3);
        box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
        color: #fff;
        margin-bottom: 0px;
        outline: none;
        height: 29px;
        width: auto;
        position: relative;
        z-index: 150;
        cursor: text;
        font-size: 12px;
        padding: 0 6px;
    }

    .storenav .searchbox input{
        color: #0e1c25;
        font-size: 14px;
        text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.1);
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 300;
        border: none;
        background-color: transparent;
        margin-left: 8px;
        width: calc( 100% - 25px - 8px );
        outline: none;
        line-height: 26px;
        margin-top: 1px;
        font-style: italic;
    }

    .storenav .searchbox a{
        position: absolute;
        right: 2px;
        top: 2px;
    }

    .storenav .searchbox a img{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 1px;
        right: -1px;
        background-image: url('/public/images/v6/search_icon_btn.png');
        border: none;
    }

    .storenav .popout{
        position: absolute;
        visibility: visible;
        display: none;
        opacity: 1;
        box-shadow: 0 0 12px #000000;
        background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
        padding: 8px 5px 8px 5px;
        transition: 0.2s ease-in-out;
    }

    .storenav .storenav__storepop.popout-block{
        display:block;
        transition: 0.2s ease-in-out;
    }
    .storenav .storenav__newpop.popout-flex{
        display:flex;
        transition: 0.2s ease-in-out;
    }
    .storenav .storenav__catpop.popout-flex{
        display:flex;
        transition: 0.2s ease-in-out;
    }


    .storenav .storenav__storepop{
        top: 35px;
        left: 0px;
    }

    .storenav .storenav__newpop{
        top: 35px;
        left: 97px;
    }

    .storenav .popout a{
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        width: fit-content;
        border-bottom: 2px solid #ffffff00;
        padding: 3px 1px 2px 1px;
        margin: 0px 10px 3px 13px;
        transition-property: border;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
        color: #D8D8D8;
        cursor: pointer;
        text-decoration: none;
        display: block;
    }

    .storenav .dropdown .subheader{
        padding: 5px 5px 10px 2px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-weight: 800;
        font-size: 11px;
        font-family: "Motiva Sans", Sans-serif;
        margin-top: 16px;
        margin-bottom: 0px;
        margin-left: 14px;
        margin-right: 13px;
        font-variant: small-caps;
        color: #2EBFFF;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    }

    .storenav .dropdown .divider{
        height: 1px;
        background: linear-gradient(90deg, rgba(216, 216, 216, 0.3), transparent);
        margin-top: 7px;
        margin-bottom: 8px;
        margin-left: 13px;
        width: 50%;

    }

    .storenav .dropdown .spacer{
        padding: 3px 1px 2px 1px;
        margin: 0px 10px 3px 13px;
        height: 15px;
    }

    .storenav .storenav__catpop{
        width:930px;
        padding-bottom: 20px;
        top: 35px;
        left:0;
        justify-content: space-between;
    }
    
    .storenav .storenav__catpop .leftborder{
        margin-left: 5px;
        padding-left: 5px;
        border-left: 1px solid #333333;
    }

    .storenav .storenav__catpop .marginmax{
        margin-top: auto;
    }

    .storenav .storenav__catpop div:last-child{
        min-width: 19%;
    }

    .gametitle{
        position: relative;
        width: 940px;
        margin: 10px auto 0 auto;
    }

    .gametitle .gametitle__breadcrumbs{
        padding-top: 10px;
    }

    .gametitle .gametitle__breadcrumbs a{
        color: #8f98a0;
        font-size: 12px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        text-decoration: none;
    }

    .gametitle .gametitle__breadcrumbs a:hover{
        color: #ffffff;
    }

    .gametitle .gametitle__title{
        display: flex;
        justify-content: space-between;
        min-height: 46px;
    }

    .gametitle .gametitle__title h2{
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        padding-left: 0px;
        font-size: 26px;
        line-height: 32px;
        margin: 0;
        color: #ffffff;
    }
    
    .gametitle .gametitle__title .gametitle__title--community{
        border-radius: 2px;
        border: none;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: #67c1f5;
        background: rgba( 103, 193, 245, 0.2 );
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
        height:32px;
    }

    .gametitle .gametitle__title .gametitle__title--community:hover{
        background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
        color: #fff;
    }

    .gamehighlight{
        background: linear-gradient(to right, rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
        width: 940px;
        padding-bottom: 12px;
        margin: 0 auto;
        display: flex;
        
    }

    .gamehighlight .gamehighlight__left{
        width: 616px;
    }

    .gamehighlight .gamehighlight__left .highlight{
        width: 600px;
        margin-right:16px;
        overflow:hidden;
        display: flex;
    }

    .gamehighlight .gamehighlight__left .highlight img{
        width: 100%;
        height: 337px;
        display: inline-block;
        flex-shrink: 0;
        
    }

    .gamehighlight .gamehighlight__left .highlightctn{
        display: flex;
        width: 600px;
        overflow: hidden;
        position: relative;
        margin: 4px 0;
    }

    .gamehighlight .gamehighlight__left .highlightctn .highlightfilm{
        display: flex;
    }

    .gamehighlight .gamehighlight__left .highlightctn .selector{
        position: absolute;
        background-image: url( /public/images/v5/game_highlight_activethumb.png );
        width: 116px;
        height: 77px;
        z-index: 50;
        top: -10px;
        left: 2px;
        pointer-events: none;
    }
    
    .gamehighlight .gamehighlight__left .highlightctn img{
        flex-shrink:0;
        display: inline-block;
        height: 65px;
        width: 116px;
        cursor: pointer;
        text-align: center;
        margin: 2px;
        background-color: #000000;
        position: relative;
    }

    .gamehighlight .gamehighlight__left .slider{
        display: flex;
        width: 600px;
        height: 18px;
    }    

    .gamehighlight .gamehighlight__left .slider button{
        background-color: rgba( 35, 60, 81, 0.4 );
        width: 38px;
        border-radius: 3px;
        height: 100%;
        border: none;
        cursor:pointer;
    }


    .gamehighlight .gamehighlight__left .slider button:hover, .handle:hover{
        background: #3d6c8d;
    }

    .gamehighlight .gamehighlight__left .slider .slider__bg{
        background-color: rgba( 0, 0, 0, 0.2 );
        width: calc(600px - 76px);
    }

    .gamehighlight .gamehighlight__left .slider .slider__bg .handle{
        width: 60px;
        border-radius: 3px;
        height: 100%;
        border: none;
        background-color: rgba( 35, 60, 81, 0.4 );
        cursor: pointer;
        transition: 0.5s;
    }

    .gamehighlight .gamehighlight__left .slider .slider__bg .handle:hover{
        background: #3d6c8d;  
    }

    .gamehighlight .gamehighlight__right{
        width: calc(940px - 616px);
    }

    .gamehighlight .gamehighlight__right .gameheaderimg{
        margin-bottom: 7px;
    }

    .gamehighlight .gamehighlight__right .gameheaderimg img{
        width: 324px;
        height: 151px;
    }

    .gamehighlight .gamehighlight__right .gamedescription{
        max-height: 111px;
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        padding-right: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .gamehighlight .gamehighlight__right .gameglance{
        margin-top:10px;
    }

    .gamehighlight .gamehighlight__right .gameglance .release{
        margin-top: 9px;
        margin-bottom: 13px;
    }


    .gamehighlight .gamehighlight__right .gameglance .cate{
        

        padding-right: 14px;
        width: 100%;

    }

    .gamehighlight .gamehighlight__right .gameglance .cate span{
        width:104px;
        display: inline-block;
        line-height: 16px;
        color: #556772;
        text-transform: uppercase;
        font-size: 10px;
    }

    .gamehighlight .gamehighlight__right .tags{
        color: #556772;
        margin-top: 10px;
    }

    .gamehighlight .gamehighlight__right .tags ul{
        list-style-type: none;
        display: flex;
        margin: 0 2px;
        padding: 0;
        height: 22px;
    }

    .gamehighlight .gamehighlight__right .tags ul li{
        color: #67c1f5;
        line-height: 19px;
        padding: 0 7px;
        background-color: rgba( 103, 193, 245, 0.2 );
        box-shadow: none;
        margin-right: 2px;
        border-radius: 2px;
        cursor: pointer;
        margin-bottom: 3px;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;

    }

    .gamehighlight .gamehighlight__right .tags ul li:hover{
        color: #ffffff;
        background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    }

    .queue__ctn{
        width: 940px;
        background: rgba( 0, 0, 0, 0.2 );
        margin: 0px auto;
        margin-bottom: 16px;
    }

    .queue__ctn p{
        padding: 16px;
        color: #ffffff;
        margin: 0;
    }

    .page{
        display: flex;
        width: 940px;
        margin: 0 auto 20px auto;
    }

    .page .leftpage{
        width: 616px;
        margin-top: 16px;
        color: #acb2b8;
        font-size: 14px;
    }

    .page .leftpage .earlyAccess{
        border: 1px solid #4e81ae;
        margin: 0 0 20px 0;
        padding: 0;
    }

    .page .leftpage .earlyAccess .earlyAccess__heading{
        padding: 10px 10px;
        color: #b8e0fd;
        font-size: 13px;
        background: linear-gradient(135deg, rgba(87,164,208,1) 0%,rgba(48,93,122,1) 100%);
    }

    .page .leftpage .earlyAccess .earlyAccess__heading h1{
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 300;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        color: #fff;
        margin: 0;
        text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    }

    .page .leftpage .earlyAccess .earlyAccess__heading h2{
        background-image: none;
        height: 26px;
        color: #fff;
        letter-spacing: 0px;
        padding-top: 0px;
        text-transform: none;
        margin: 0px;
        text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
        font-size: 15px;
        line-height: 26px;;
    }

    .page .leftpage .earlyAccess .earlyAccess__heading p{
        margin: 0;
        padding: 0;
        color: #b8e0fd;
        font-size: 13px;
    }

    .page .leftpage .earlyAccess .earlyAccess__heading p span{
        color: #f9be3e;
    }

    .page .leftpage .earlyAccess .earlyAccess__heading p a{
        color: inherit;
    }

    .page .leftpage .earlyAccess .earlyAccess__body{
        padding: 0px 10px 10px 10px;
        position: relative;
        font-family: "Motiva Sans", Sans-serif;

    }

    .page .leftpage .earlyAccess .earlyAccess__body .devs__say{
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        font-size: 11px;
        color: #61686d;
        margin: 10px 0 0 0;
        text-transform: uppercase;
        font-style: normal;
    }

    .page .leftpage .earlyAccess .earlyAccess__body .devs__expander{
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        color: #8f98a0;
        line-height: 21px;
        max-height: 113px;
        overflow: hidden;
    }

    .page .leftpage .earlyAccess .earlyAccess__body .devs__expander.expand{
        max-height: none;
    }


    .page .leftpage .earlyAccess .earlyAccess__body .devs__expander h1{
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 500;
        font-weight: normal;
        font-size: 14px;
        color: #fff;
        margin: 10px 0 0 0;
        line-height: 21px;
        font-style:italic;

    }

    .page .leftpage .earlyAccess .earlyAccess__body .readmore{
        position: absolute;
        display: block;
        right: 0px;
        padding-right: 15px;
        padding-top: 3px;
        height: 15px;
        bottom: 10px;
        padding-left: 30px;
        background: linear-gradient(to right, rgba(27,40,56,0) 0%,rgba(27,40,56,1) 15%,rgba(27,40,56,1) 100%);
        text-transform: uppercase;
        color: #67c1f5;
        font-size: 11px;
        text-decoration: none;
    }

    .page .leftpage .earlyAccess .earlyAccess__body .readmore:hover{
        color: #fff;

    }

    .page .leftpage .earlyAccess .earlyAccess__body .readmore.gone{
        display: none;
    }

    .page .leftpage .leftbox{
        margin-bottom: 28px;
        position: relative;
        background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
        border-radius: 4px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #c6d4df;
        padding: 16px;
        padding-bottom: 16px;
        padding-bottom: 26px;

    }

    .page .leftpage .leftbox .leftbox__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .page .leftpage .leftbox .leftbox__main .headerbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page .leftpage .leftbox .leftbox__main .headerbox h1{
        margin-bottom: 0;
    }

    .page .leftpage .leftbox .purchase2box__main{
        display: block;
    }

    .page .leftpage .leftbox .purchase2box__main p{
        margin: 0;
    }

    .page .leftpage .leftbox .purchase2box__main .sale{
        padding: 6px;
        margin: 8px -6px 0 -6px;
        background: rgba(0,0,0,0.5);
    }

    .page .leftpage .leftbox .icon{
        background-image: url( '/img/icon_platform_win.png' );
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
    }

    .page .leftpage .leftbox .cartbox{
        position: absolute;
        right: 16px;
        bottom: -17px;
        overflow: hidden;
        white-space: nowrap;
        text-align: right;
        display: flex;
    }

    .page .leftpage .leftbox .cartbox .price{
        vertical-align: bottom;
        display: inline-block;
        background-color: #000000;
        padding: 2px 2px 2px 0px;
        border-radius: 2px;
        font-size: 13px;
        padding-left: 12px;
        line-height:32px;
    }

    .page .leftpage .leftbox .cartbox .price .greencart{
        border-radius: 2px;
        border: none;
        padding: 1px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none !important;
        color: #d2efa9;
        background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
        text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
        margin-left: 14px;
        padding: 0 15px;
    }

    .page .leftpage .leftbox .cartbox .price .greencart:hover{
        background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
		background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
        color: #fff;
    }

    .page .leftpage .purchase2box .cartbox span{
        font-size: 10px;
    }

    .page .leftpage .purchase2box .bun{
        cursor: default;
        color: #A4D7F5;
        font-size: 18px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 200;
    }

    .page .leftpage .purchase2box .cartbox .price{
        display: flex;
        justify-content: space-between;
        height: 36px;
        width: 270px;
        padding-left: 2px ;
    }

    .page .leftpage .purchase2box .cartbox .price .discount{
        text-decoration: none;
        color: #b0aeac;
        border-right: 1px solid #626366;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        font-size: 25px;
        text-align: center;
        overflow: hidden;
        padding: 0 6px;
    }

    .page .leftpage .purchase2box .cartbox .price .yprice{
        line-height:1.3;
        color: white;
        margin-left: 10px;
    }

    .page .leftpage .purchase2box .cartbox .bundle{
        vertical-align: bottom;
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        background-color: #000000;
        padding: 2px 2px 2px 2px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        margin-right: 2px;
    }

    .page .leftpage .purchase2box .cartbox .bundle a{
        border-radius: 2px;
        border: none;
        padding: 1px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: #d2efa9;
        background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);;
        text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
        padding: 0 15px;
        font-size: 15px;
        line-height: 32px;
    }

    .page .leftpage .purchase2box .cartbox .bundle a:hover{
        background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
		background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
    }

    .page .leftpage .announcement{
        margin-top: 47px;
    }    

    .page .leftpage .announcement .announcement__header{
        display: flex;
        justify-content: space-between;
        background-image: url( /public/images/v6/maincol_gradient_rule.png );
        background-repeat: no-repeat;
        background-position: bottom left;
        position: static;
    }

    .page .leftpage .announcement h2{
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 10px;
        letter-spacing: 0.03em;
        font-weight: normal;
        padding-top: 2px;
    }

    .page .leftpage .announcement .moreview{
        background: transparent;
        border: 1px solid rgba(255,255,255,.4);
        border-radius: 2px;
        color: #fff;
        font-size: 11px;
        padding: 2px 15px;
        height: 19px;
        cursor: pointer;
        position: relative;
    }

    .page .leftpage .announcement .moreview:hover{
        border-color: #fff;
        color:#1a9fff;
    }

    .page .leftpage .announcement .announcement__updatepic{
        font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
        display: flex;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .page .leftpage .announcement .announcement__updatepic .pic{
        display: block;
        height: auto;
        margin-bottom: 8px;
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        min-width: 304px;
        min-height: 256px;
        background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
        box-shadow: 2px 2px 10px rgba(0,0,0,.4);
        border-radius: 4px;
        margin-right: 8px;
        background: url(https://clan.akamai.steamstatic.com/images/44821507/26b46161aa7ced58b8e71895da8f71bc0f22cc97_400x225.png);
        background-size:contain;
    }

    .page .leftpage .announcement .announcement__updatepic .pic .desc{
        position: absolute;
        bottom: 0;
        height: 85px;
        padding: 12px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.808);
        font-size: 13px;
        width: 100%;
        backdrop-filter: blur(10px);
    }

    .page .leftpage .announcement .announcement__updatepic .pic .desc h3{
        font-size: 15px;
        margin: 0;
        line-height: 19px;
        color: #fff;
        max-height: 39px;
        margin-bottom: 4px;
        overflow: hidden;
    }

    .page .leftpage .announcement .announcement__updatepic .pic .desc p{
        margin: 0;
    }
    
    .page .leftpage .announcement .announcement__updatepic .pic .hovering{
        opacity: 0;
        transition: 0.3s ease-in-out;
        position: absolute;
        top: 0;
        background-color: rgba(21, 22, 25, 0.801);
        pointer-events: none;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    .page .leftpage .announcement .announcement__updatepic .pic:hover .hovering{
        opacity: 1;
    }

    .page .leftpage .announcement .announcement__updatepic .pic .hovering h4{
        margin: 20px 20px 0 20px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgb(40, 155, 255);
    }

    .page .leftpage .announcement .announcement__updatepic .pic .hovering p{
        margin: 10px 20px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        line-height: 20px;
        font-weight: 300;
        overflow: hidden;
    }

    .page .leftpage .updatebutton{
        display: flex;
    }

    .page .leftpage .updatebutton .icon{
        height: 20px;
        width: 20px;
        fill: #fff;
        margin-right: 5px;
    }
    
    .page .leftpage .updatebutton a{
        text-decoration: none;
        color: #fff;
        border: 1px solid rgba(255,255,255,.4);
        padding: 5px 15px;
        font-size: 12px;
        font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
    }

    .page .leftpage .updatebutton a:hover{
        border-color: #fff;
    }

    .page .leftpage .bug{
        background: linear-gradient(135deg, rgba(68,75,84,1) 0%,rgba(91,98,108,1) 100%);
        width: 100%;
        margin-top: 10px;
        height: 61px;
        display: flex;
    }

    .page .leftpage .bug img{
        background-image: url(/public/images/v5/earlyaccess_bug.png);
        height: 61px;
        width: 63px;
    }

    .page .leftpage .bug p{
        display: block;
        color: #fff;
        font-size: 15px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0;
        position: relative;
        width: 350px;
        padding-top: 12px;
    }

    .page .leftpage .bug a{
        color: #67c1f5;
        text-decoration: none;
        width: 162px;
        height: 36px;
        margin: auto;
        text-align: center;
        line-height: 36px;
        border: 2px solid black;
        border-radius: 4px;
        background-color: #174661;
    }

    .page .leftpage .bug a:hover{
        color: #fff;
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); ;
    }


    .page .rightpage{
        margin-top: 16px;
        overflow: hidden;
        width: 308px;
        margin-left: 14px;
        float: right;
        
    }

    .page .rightpage .rightbox{
        background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
        padding: 16px;
        margin-bottom: 8px;
        margin-top: 0;
    }

    .page .rightpage .category  a{
        margin-bottom: 2px;
        background-color: rgba( 0, 0, 0, 0.2 );
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    
    .page .rightpage .category  a .icon{
        padding: 0px 6px;
        display: flex;
    }
    
    .page .rightpage .category  a .label{
        color: #66c0f4;
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
        height: 100%;
        background: rgba( 103, 193, 245, 0.1 );
        width: 100%;
        border-radius: 1px;
    }
    .page .rightpage .category  a:hover .label{
        text-decoration: none;
        color: #ffffff;
        background: #67c1f5;
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
    }
    .page .rightpage .category  a .icon img{
        width: 26px;
        height: 16px;
    }
    .page .rightpage .others{
        margin-top: 12px;
    }
    .page .rightpage .others a{
        margin-top: 8px;
        margin-bottom: 2px;
    }
    .page .rightpage .star{
        display: flex;
        margin-top: 16px;
        margin-bottom: 2px;
        height: 32px;
    }
    .page .rightpage .star .icon{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-right: 12px;
        margin-top: 2px;
        font-size: 17px;
    }

    .page .rightpage .blocktitle {
        font-size: 12px;
        color: #8f98a0;
        margin-bottom: 2px;
        font-weight: normal;
    }

    .page .rightpage .langcheck table{
        border-collapse: collapse;
    }

    .page .rightpage .langcheck table tr{
        border-bottom: 1px solid #626366;
    }

    .page .rightpage .langcheck table tr th{
        width: 62px;
        font-size: 12px;
        color: #b0aeac;
        font-weight: normal;
    }

    .page .rightpage .langcheck table tr th:first-of-type{
        width: 94px;
    }

    .page .rightpage .langcheck table tr td{
        font-weight: bold;
        color: #67c1f5;
        padding: 3px 0px 3px 0px;
        text-align: center;
        font-size: 12px;
    }

    .page .rightpage .langcheck table tr td:first-of-type{
        width: 105px;
        text-align: left;
        color: #8f98a0;
        font-weight: normal;
    }

    .page .gameachieve .achievepics{
        display: flex;
        padding: 4px 0px 4px 0px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .page .gameachieve .achievepics img{
        width: 64px;
        height: 64px;
        margin-right: 4px;
    }
    .page .gameachieve .achievepics a{
        background-color: rgba( 103, 193, 245, 0.2 );
        border-radius: 1px;
        font-size: 13px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        color: #67c1f5;
        text-align: center;
        height: 64px;
        width: 64px;
        padding: 0 4px;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        line-height: 14px;
        text-decoration: none;
    }

    .page .gameachieve .achievepics a:hover{
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
        color: #ffffff;
        text-decoration: none;
    }

    .page .gameinfo{
        color: #8f98a0;
        line-height: 20px;
    }

    .page .gameinfo a{
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 300;
        color: #67c1f5;
        text-decoration: none;
    }

    .page .gameinfo a:hover{
        color:#fff
    }

    .page .gameinfo .kat{
        font-family: Arial, Helvetica, sans-serif;
        color: #556772;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 20px;
    }

    .page .gameinfo .gamehistory{
        margin-top: 14px;
    }

    .page .gameinfo .gamehistory a{
        min-height: 17px;
        padding-top: 4px;
        padding-left: 8px;
        padding-bottom: 4px;
        line-height: 17px;
        background: rgba( 103, 193, 245, 0.1 );
        color: #67c1f5;
        border-radius: 1px;
        display: block;
        margin-bottom: 2px;
    }
    .page .gameinfo .gamehistory a:hover{
        text-decoration: none;
        color: #ffffff;
        background: #67c1f5;
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
    }

    .page .sharebox{
        display: flex;
    }

    .page .sharebox a{
        border-radius: 2px;
        border: none;
        padding: 1px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: #67c1f5;
        background: rgba( 103, 193, 245, 0.2 );
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding: 0 15px;
        font-size: 15px;
        margin-right: 3px;
    }

    .page .sharebox a:hover{
        text-decoration: none;
        color: #ffffff;
        background: #67c1f5;
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
    }

    footer{
        background: #171a21;
        height: 244px;
        padding-top:0.2px;
    }

    footer .footer__line{
        width: 940px;
        margin: 36px auto 20px auto;
        border-top: 1px solid #363c44;
        border-bottom: 1px solid #363c44;
        display: flex;
        padding: 8px 0 12px 0;
        display: flex;
        justify-content: space-between;
    }

    footer .valve{
        height: 25px;
        margin: auto 0;
    }

    footer .valve img{
        height: 25px;
        width: auto;
    }

    footer .copyrights{
        width: 704px;
        color: #8F98A0;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer .copyrights p:first-of-type{
        padding: 0;
        margin: 0;
        width: 704px;
    }

    footer .copyrights .VAT{
        display: flex;
        justify-content: space-around;
    }

    footer .copyrights .VAT a{
        text-decoration: none;
        color: #C6D4DF;
    }

    footer .copyrights .VAT a:hover{
        color: #fff;
    }

    footer .copyrights .VAT span{
        border-right: 1px solid #C6D4DF;
        height: 15px;
    }

    footer img{
        height: 26px;
    }

    footer .footer__links{
        margin: 0 auto;
        width: 940px;
        display: flex;
        justify-content: space-around;
    }

    footer .footer__links a{
        color: #C6D4DF;
        text-decoration: none;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        font-size: 13px;
        line-height: 13px;
    }

    footer .footer__links a:hover{
        color: #fff;
    }

    footer .footer__links span{
        height: 13px;
        border-right: 1px solid #61686D;
    }
}

@media screen and (max-width:991px) and (min-width: 600px){
    .desktop{
        display: none;
    }

    .mobile{
        width: 100%;
        height: 62px;
        background: #171a21;
        position: sticky;
        padding: 0.2px;
    }

    .mobile .menu-button{
        position: absolute;
        top: 20px;
        left:20px;
        width:40px;
        height: 40px;
        cursor: pointer;
    }

    .menu-button .line{
        width: 30px;
        border-top: 4px solid #bdbdbd;
        border-radius: 2px;
        position: absolute;
    }

    .menu-button:hover .line{
        border-color: #fff;
    }

    .mobile .logo{
        width: 156px;
        height: 36px;
        margin: 13px auto;
    }

    .mobile .logo img{
        width: 156px;
        height: 36px;
    }

    .mobile .menu-button .line:nth-child(1){
        top:0;
    }

    .mobile .menu-button .line:nth-child(2){
        top: 10px;
    }

    .mobile .menu-button .line:nth-child(3){
        top: 20px;
    }

    .mobile .mobile__links{
        display: flex;
        flex-direction: column;
        width: 280px;
        position:absolute;
        height: 100%;
        left: -280px;
        color: #bdbdbd;
        background: #171a21;
        transition: left 0.3s ease-in-out;
        z-index: 30;
    }

    .mobile .opening{
        left:0;


    }
    
    .mobile .mobile__links a{
        width: 280px;
        height: 61px;
        font-size: 22px;
        color: #bdbdbd;
        background: #171a21;
        text-decoration: none;
        line-height: 61px;
        padding: 0 12px;
        font-family: "Motiva Sans", Sans-serif;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #2f3138;
    }

    .mobile .mobile__links div{
        height: 0;
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .mobile .mobile__links .submen a{
        background:#192533;
        font-size: 0.75em;
        color: #ffffff;
        padding-left: 28px;
        border: 0;
        height: 41px;
        line-height: 41px;
    }
    .mobile .mobile__links .mobile__options{
        font-size: 22px;
    }

    .mobile .mobile__links .mobile__options a{
        color: #8a8a8a;
        border: none;
        font-size: 0.75em;
        height: 41px;;
        line-height: 2.5em;
        cursor:pointer;
    }

    .mobile .mobile__links .mobile__options .mobile__options--submenu{
        height: 0;
        overflow: hidden;
    }

    .storenav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .storenav a{
        text-decoration: none;
    }

    .storenav .flex__spacer{
        display: none;
    }

    .storenav .storenav__sub{
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
        color: #e5e5e5;
        font-size: 13px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        font-family: "Motiva Sans", Sans-serif;
        cursor: pointer;
    }

    .storenav .storenav__sub:hover{
        background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
    }

    .storenav .popout{
        font-family: "Motiva Sans", Sans-serif;
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
        padding: 0;
        height: auto;
        overflow:hidden;
    }

    .storenav .popout a:first-child{
        margin-top: 8px;
    }

    .storenav .popout a{
        width: 100%;
        text-decoration: none;
        color: #e5e5e5;
        font-size: 14px;
        line-height: 18px;
        height: 32px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        margin: 0px 10px 3px 13px;

    }

    .storenav .popout a:hover{
        text-decoration: underline;
    }

    .storenav .popout .subheader, .divider{
        display: none;
    }

    .storenav .storenav__newpop{
        flex-direction: row;
        padding-top: 8px;
    }

    .storenav .storenav__newpop .storenav__newpop-left, .storenav__newpop-right{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .storenav .storenav__newpop .storenav__newpop-right{
        border-left: 1px solid #333333;
    }

    .storenav .storenav__catpop div a{
        display: none;
    }

    .storenav .storenav__catpop .storenav__catpop--one{
        padding-top: 8px;
    }

    .storenav .storenav__catpop .storenav__catpop--one a{
        display: block;
    }

    .storenav .storenav__catpop div .major{
        display: block;
        width: 100%;
        text-decoration: none;
        color: #e5e5e5;
        font-size: 14px;
        line-height: 18px;
        height: 32px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        margin: 0px 10px 3px 13px;
        cursor: pointer;
        font-weight: bolder;
    }

    .storenav .storenav__catpop div .subheader-mobile{
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 11px;
        padding: 5px 5px 10px 2px;
        margin-left: 13px;
        color: #2EBFFF;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    }

}

@media screen and (max-width:599px){

}